__pycache__/
*.py[cod]
*.so
*.xml
.idea/*
*.egg-info/
dist/
build/
.env
.venv
env/
venv/
*.log
*.sqlite3
.DS_Store
.idea/
.vscode/
*.bak
*.swp
*.tmp
*.test.db
.mypy_cache/
.pytest_cache/
.coverage
*.coverage
htmlcov/
.cache/
*.ipynb_checkpoints
node_modules/
*.pkl
*.gz
*.zip
*.tar
*.tar.gz
*.whl
celerybeat-schedule
instance/
local_settings.py
logs/
staticfiles/
media/
